<!DOCTYPE html>
<html  lang="es" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="fragments/general">
<head>
        <script  th:src="@{/static/js/User/utilspasswords.js}"></script>
</head>

<body>
<div class="container" layout:fragment="content">
    <h1>Nuevo Usuario</h1>
    <hr>
    <h2>Crear Usuario</h2>
    <form action="#" th:action="@{/guardarUsuario}" th:object="${user}" method="POST" >

        <div class="form-group">
            <label for="email" >Correo Electronico</label>
            <input type="email" th:field="*{email}"  class="form-control  col-6 col-md-4"  th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" required>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}">
            </small>
        </div>

        <div class="form-row">
            <div  class="form-group col-6 col-md-4">
                <label  for="password"  class="control-label">Contraseña</label>
                <input type="password" id="password" name="password" value="contraseña" th:field="*{password}" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}">
                </small>
            </div>
            <button type="button" id="btnDetalle" title="Detalles" class="btn" th:onclick="javascript:mostrarContrasena()">
                <i class="fa fa-eye" data-btn-type="detail"></i>
            </button>
         </div>


        <div class="form-row">
            <div  class="form-group col-6 col-md-4">
                <label  for="confirmpassword"  class="control-label">Confirmar contraseña</label>
                <input type="password" id="confirmpassword" name="confirmpassword"  th:field="*{confirmpassword}" class="form-control" th:classappend="${#fields.hasErrors('confirmpassword')} ? 'is-invalid' : ''" required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('confirmpassword')}"
                       th:errors="*{confirmpassword}">
                </small>
            </div>
        </div>


        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" th:field="*{nombre}" id="nombre"  class="form-control  col-6 col-md-4" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''" >
            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                   th:errors="*{nombre}">
            </small>
        </div>

        <div class="form-group">
            <label for="Apellidos" >Apellidos</label>
            <input type="text" th:field="*{apellidos}"  class="form-control  col-6 col-md-4" th:classappend="${#fields.hasErrors('apellidos')} ? 'is-invalid' : ''" >
            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellidos')}"
                   th:errors="*{apellidos}">
            </small>
        </div>

        <div class="form-group">
            <label  for="Telefono" >Telefono</label>
            <input type="text" th:field="*{telefono}"  class="form-control  col-6 col-md-4" >
        </div>


        <div class="form-group">
            <label for="role.id">Tipo de usuario</label>
             <select class="form-select form-select-lg col-4" th:field="${user.role.id}">
                <option th:each="rol :${role}" th:value="${rol.id}" th:text="${rol.name}"></option>
             </select>
            <div  th:errors="*{role}"></div>
        </div>


        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">
        <!-- Example token -->
        <button type="submit" class="btn btn-info col-2 m-2">Crear</button>

    </form>


    <hr>
    <a th:href="@{/indexusuarios}"> Regresar a la Lista de Usuarios</a>
</div>
</body>

</html>
